<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" /> <!--禁止转码 -->
<title>首页</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" href="css/JaneCC.css">
<link rel="stylesheet" href="">
<script src="js/jquery/jquery-1.11.2.min.js"></script>
<script src="js/base/SuperSlide.2.1.1.min.js"></script>
<script src="js/JaneCC.js"></script>
<!--[if lt IE 9]>
<script src="js/base/html5shiv.min.js"></script>
<script src="js/base/respond.min.js"></script>
<script src="js/base/ie8warning.js"></script>
<![endif]-->
</head>
<body class="indexbg">
<div class="header">
<!--
    <div class="headerBar" >
        <div class="inner">
            <a href="" class="orangetxt">Welcome Yingying!</a><span class="bluetxt"> | </span>
            <a href="" class="bluetxt">Merchants info</a>
        </div>
      
    </div> --> 
    <div class="headerBar">
        <!--中文版顶部-->
        <div class="inner1024">
            <span class="orangetxt">欢迎来到欧橡</span>
            <a href="" class="login orangetxt">请登录</a>
            <a href="" class="login orangetxt">免费注册 !</a>
            <span class="bluetxt"> | </span>
            <a href="" class="bluetxt merchants">merchants info</a>
        </div>
        <!---->
    </div>
    <div class="headerCon inner1024 clearfix">
        <a href="" class="logo"><img src="img/ae-logo.png" alt=""></a>
        <div class="headerSearch">
            <form action="">
                <input type="text" class="ipt">
                <input type="button" class="btn">
            </form>
        </div>
        <div class="headerIcon">
            <ul class="clearfix">
                <li><a href=""><img src="img/ae-cart.png" alt=""><span>购物车</span></a></li><!--登陆后改变img地址ae-cart-login-->
                <li><a href=""><img src="img/ae-wish.png" alt=""><span>愿望单</span></a></li>
                <li><a href=""><img src="img/ae-babyshow.png" alt=""><span>宝宝秀</span></a></li><!--登陆后改变img地址ae-babyshow-login-->
                <li><a class="qcode" href=""><img src="img/ae-weixin.png" alt=""><span>联系欧橡</span><div class="qcode-oux"><img src="img/ae-qcode.png" alt=""></div></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="nav">
    <ul class="inner clearfix">
        <li class="on"><a href="">产品目录</a></li>
        <li><a href="">欧洲商店</a></li>
        <li><a href="">欧洲潮流</a></li>
        <li><a href="">个人代购</a></li>
        <li class="nobd"><a href="">关于欧橡</a></li>
    </ul>
</div>
	
	
<div class="banner">
    <div class="banneri">
        <div class="bd">
            <ul>
                <li style="background:url(img/banner.png) #FCF5EC center 0 no-repeat;"><a href=""></a></li>
                <li style="background:url(img/banner.png) #FCF5EC center 0 no-repeat;"><a href=""></a></li>
                <li style="background:url(img/banner.png) #FCF5EC center 0 no-repeat;"><a href=""></a></li>
                <li style="background:url(img/banner.png) #FCF5EC center 0 no-repeat;"><a href=""></a></li>
            </ul>
        </div>

        <div class="hd">
            <ul>
            </ul>
        </div>
    </div>

</div>            

	
	
<div class="content">
    <div class="floor floorOne inner clearfix">
        <div class="product">
            <div class="hdr">
                <h1 class="tit"><a href="">德国喜宝有机免敏胡萝卜泥</a></h1>
                <div class="meta">
                    <div><a href="">BABYBIO</a></div>
                    <em class="flag"><img src="img/ae-flag.png" alt=""></em>
                </div>
            </div>
            <div class="price">
                <div class="original">20.5 €</div>
            </div>
            <a href="" class="cover hover"><img src="img/img022.png" alt=""></a>
            <div class="ftr">
                <p class="info">采用全天然有机的食品原料精心加工而成，清新无污染，健康有保证；...    </p>
                <div class="meta">
                    <span class="like">288<i class="ae-like"></i></span> | 
                    <a class="listing" href=""><img src="img/ae-listing.png" alt=""></a>
                </div>
            </div>
            <i class="ae ae-new"></i>
        </div>
        <div class="f-banner"><img src="img/ae-floor-one.png" alt=""><a class="hover f-banner-btn" href="">进入专场</a></div>
        <div class="product">
            <div class="hdr">
                <h1 class="tit"><a href="">德国喜宝有机免敏胡萝卜泥</a></h1>
                <div class="meta">
                    <div><a href="">BABYBIO</a></div>
                    <em class="flag"><img src="img/ae-flag.png" alt=""></em>
                </div>
            </div>
            <div class="price">
                <div class="original">20.5 €</div>
            </div>
            <a href="" class="cover hover"><img src="img/img022.png" alt=""></a>
            <div class="ftr">
                <p class="info">采用全天然有机的食品原料精心加工而成，清新无污染，健康有保证；...    </p>
                <div class="meta">
                    <span class="like">288<i class="ae-like"></i></span> | 
                    <a class="listing" href=""><img src="img/ae-listing.png" alt=""></a>
                </div>
            </div>
            <i class="ae ae-new"></i>
        </div>
        <div class="product">
            <div class="hdr">
                <h1 class="tit"><a href="">德国喜宝有机免敏胡萝卜泥</a></h1>
                <div class="meta">
                    <div><a href="">BABYBIO</a></div>
                    <em class="flag"><img src="img/ae-flag.png" alt=""></em>
                </div>
            </div>
            <div class="price">
                <div class="original">20.5 €</div>
            </div>
            <a href="" class="cover hover"><img src="img/img022.png" alt=""></a>
            <div class="ftr">
                <p class="info">采用全天然有机的食品原料精心加工而成，清新无污染，健康有保证；...    </p>
                <div class="meta">
                    <span class="like">288<i class="ae-like"></i></span> | 
                    <a class="listing" href=""><img src="img/ae-listing.png" alt=""></a>
                </div>
            </div>
            <i class="ae ae-new"></i>
        </div>
        <div class="product">
            <div class="hdr">
                <h1 class="tit"><a href="">德国喜宝有机免敏胡萝卜泥</a></h1>
                <div class="meta">
                    <div><a href="">BABYBIO</a></div>
                    <em class="flag"><img src="img/ae-flag.png" alt=""></em>
                </div>
            </div>
            <div class="price">
                <div class="original">20.5 €</div>
            </div>
            <a href="" class="cover hover"><img src="img/img022.png" alt=""></a>
            <div class="ftr">
                <p class="info">采用全天然有机的食品原料精心加工而成，清新无污染，健康有保证；...    </p>
                <div class="meta">
                    <span class="like">288<i class="ae-like"></i></span> | 
                    <a class="listing" href=""><img src="img/ae-listing.png" alt=""></a>
                </div>
            </div>
            <i class="ae ae-new"></i>
        </div>
        <div class="product">
            <div class="hdr">
                <h1 class="tit"><a href="">德国喜宝有机免敏胡萝卜泥</a></h1>
                <div class="meta">
                    <div><a href="">BABYBIO</a></div>
                    <em class="flag"><img src="img/ae-flag.png" alt=""></em>
                </div>
            </div>
            <div class="price">
                <div class="original">20.5 €</div>
            </div>
            <a href="" class="cover hover"><img src="img/img022.png" alt=""></a>
            <div class="ftr">
                <p class="info">采用全天然有机的食品原料精心加工而成，清新无污染，健康有保证；...    </p>
                <div class="meta">
                    <span class="like">288<i class="ae-like"></i></span> | 
                    <a class="listing" href=""><img src="img/ae-listing.png" alt=""></a>
                </div>
            </div>
            <i class="ae ae-new"></i>
        </div>
        <div class="product">
            <div class="hdr">
                <h1 class="tit"><a href="">德国喜宝有机免敏胡萝卜泥</a></h1>
                <div class="meta">
                    <div><a href="">BABYBIO</a></div>
                    <em class="flag"><img src="img/ae-flag.png" alt=""></em>
                </div>
            </div>
            <div class="price">
                <div class="original">20.5 €</div>
            </div>
            <a href="" class="cover hover"><img src="img/img022.png" alt=""></a>
            <div class="ftr">
                <p class="info">采用全天然有机的食品原料精心加工而成，清新无污染，健康有保证；...    </p>
                <div class="meta">
                    <span class="like">288<i class="ae-like"></i></span> | 
                    <a class="listing" href=""><img src="img/ae-listing.png" alt=""></a>
                </div>
            </div>
            <i class="ae ae-new"></i>
        </div>
    </div><!--floorOne-->
    <div class="floor floorTwo inner">
        <div class="f-banner"><img src="img/ae-floor-two.png" alt=""><a class="hover f-banner-btn" href="">进入专场</a></div>
        <div class="product">
            <div class="hdr">
                <h1 class="tit"><a href="">德国喜宝有机免敏胡萝卜泥</a></h1>
                <div class="meta">
                    <div><a href="">BABYBIO</a></div>
                    <em class="flag"><img src="img/ae-flag.png" alt=""></em>
                </div>
            </div>
            <div class="price">
               <div class="promotion">20.5 €</div>
                <div class="original oldprice">20.5 €</div>
            </div>
            <a href="" class="cover hover"><img src="img/img022.png" alt=""></a>
            <div class="ftr">
                <p class="info">采用全天然有机的食品原料精心加工而成，清新无污染，健康有保证；...    </p>
                <div class="meta">
                    <span class="like">288<i class="ae-like"></i></span> | 
                    <a class="listing" href=""><img src="img/ae-listing.png" alt=""></a>
                </div>
            </div>
            <i class="ae ae-top-first"></i>
        </div>
        <div class="product">
            <div class="hdr">
                <h1 class="tit"><a href="">德国喜宝有机免敏胡萝卜泥</a></h1>
                <div class="meta">
                    <div><a href="">BABYBIO</a></div>
                    <em class="flag"><img src="img/ae-flag.png" alt=""></em>
                </div>
            </div>
            <div class="price">
               <div class="promotion">20.5 €</div>
                <div class="original oldprice">20.5 €</div>
            </div>
            <a href="" class="cover hover"><img src="img/img022.png" alt=""></a>
            <div class="ftr">
                <p class="info">采用全天然有机的食品原料精心加工而成，清新无污染，健康有保证；...    </p>
                <div class="meta">
                    <span class="like">288<i class="ae-like"></i></span> | 
                    <a class="listing" href=""><img src="img/ae-listing.png" alt=""></a>
                </div>
            </div>
            <i class="ae ae-top-second"></i>
        </div>
        <div class="product">
            <div class="hdr">
                <h1 class="tit"><a href="">德国喜宝有机免敏胡萝卜泥</a></h1>
                <div class="meta">
                    <div><a href="">BABYBIO</a></div>
                    <em class="flag"><img src="img/ae-flag.png" alt=""></em>
                </div>
            </div>
            <div class="price">
               <div class="promotion">20.5 €</div>
                <div class="original oldprice">20.5 €</div>
            </div>
            <a href="" class="cover hover"><img src="img/img022.png" alt=""></a>
            <div class="ftr">
                <p class="info">采用全天然有机的食品原料精心加工而成，清新无污染，健康有保证；...    </p>
                <div class="meta">
                    <span class="like">288<i class="ae-like"></i></span> | 
                    <a class="listing" href=""><img src="img/ae-listing.png" alt=""></a>
                </div>
            </div>
            <i class="ae ae-top-third"></i>
        </div>
        <div class="product">
            <div class="hdr">
                <h1 class="tit"><a href="">德国喜宝有机免敏胡萝卜泥</a></h1>
                <div class="meta">
                    <div><a href="">BABYBIO</a></div>
                    <em class="flag"><img src="img/ae-flag.png" alt=""></em>
                </div>
            </div>
            <div class="price">
               <div class="promotion">20.5 €</div>
                <div class="original oldprice">20.5 €</div>
            </div>
            <a href="" class="cover hover"><img src="img/img022.png" alt=""></a>
            <div class="ftr">
                <p class="info">采用全天然有机的食品原料精心加工而成，清新无污染，健康有保证；...    </p>
                <div class="meta">
                    <span class="like">288<i class="ae-like"></i></span> | 
                    <a class="listing" href=""><img src="img/ae-listing.png" alt=""></a>
                </div>
            </div>
            <i class="ae ae-hot"></i>
        </div>
        <div class="product">
            <div class="hdr">
                <h1 class="tit"><a href="">德国喜宝有机免敏胡萝卜泥</a></h1>
                <div class="meta">
                    <div><a href="">BABYBIO</a></div>
                    <em class="flag"><img src="img/ae-flag.png" alt=""></em>
                </div>
            </div>
            <div class="price">
               <div class="promotion">20.5 €</div>
                <div class="original oldprice">20.5 €</div>
            </div>
            <a href="" class="cover hover"><img src="img/img021.png" alt=""></a>
            <div class="ftr">
                <p class="info">采用全天然有机的食品原料精心加工而成，清新无污染，健康有保证；...    </p>
                <div class="meta">
                    <span class="like">288<i class="ae-like"></i></span> | 
                    <a class="listing" href=""><img src="img/ae-listing.png" alt=""></a>
                </div>
            </div>
<!--            <i class="ae ae-new"></i>-->
        </div>
        <div class="product">
            <div class="hdr">
                <h1 class="tit"><a href="">德国喜宝有机免敏胡萝卜泥</a></h1>
                <div class="meta">
                    <div><a href="">BABYBIO</a></div>
                    <em class="flag"><img src="img/ae-flag.png" alt=""></em>
                </div>
            </div>
            <div class="price">
               <div class="promotion">20.5 €</div>
                <div class="original oldprice">20.5 €</div>
            </div>
            <a href="" class="cover hover"><img src="img/img021.png" alt=""></a>
            <div class="ftr">
                <p class="info">采用全天然有机的食品原料精心加工而成，清新无污染，健康有保证；...    </p>
                <div class="meta">
                    <span class="like">288<i class="ae-like"></i></span> | 
                    <a class="listing" href=""><img src="img/ae-listing.png" alt=""></a>
                </div>
            </div>
<!--            <i class="ae ae-new"></i>-->
        </div>
    </div><!--floorTwo-->
    <div class="floor floorThree inner">
        <div class="f-banner"><img src="img/ae-floor-three.png" alt=""><a class="hover f-banner-btn" href="">进入专场</a></div>
        <div class="product pdc_scd">
            <div class="hdr">
                <h1 class="tit tc"><a href="">BABYBIO</a></h1>
                <div class="meta">
                    <div class="tc"><a href="">德国喜宝有机免敏胡萝卜泥</a></div>
                    <em class="flag"><img src="img/ae-flag.png" alt=""></em>
                </div>
            </div>
            <a href="" class="cover hover"><img src="img/img023.png" alt=""><em class="ft-logo"><img src="img/f-logo.png" alt=""></em></a>
        </div>
        <div class="product pdc_scd">
            <div class="hdr">
                <h1 class="tit tc"><a href="">BABYBIO</a></h1>
                <div class="meta">
                    <div class="tc"><a href="">德国喜宝有机免敏胡萝卜泥</a></div>
                    <em class="flag"><img src="img/ae-flag.png" alt=""></em>
                </div>
            </div>
            <a href="" class="cover hover"><img src="img/img023-2.png" alt=""><em class="ft-logo"><img src="img/f-logo.png" alt=""></em></a>
        </div>
        <div class="product pdc_scd">
            <div class="hdr">
                <h1 class="tit tc"><a href="">BABYBIO</a></h1>
                <div class="meta">
                    <div class="tc"><a href="">德国喜宝有机免敏胡萝卜泥</a></div>
                    <em class="flag"><img src="img/ae-flag.png" alt=""></em>
                </div>
            </div>
            <a href="" class="cover hover"><img src="img/img023.png" alt=""><em class="ft-logo"><img src="img/f-logo.png" alt=""></em></a>
        </div>
        <div class="product pdc_scd">
            <div class="hdr">
                <h1 class="tit tc"><a href="">BABYBIO</a></h1>
                <div class="meta">
                    <div class="tc"><a href="">德国喜宝有机免敏胡萝卜泥</a></div>
                    <em class="flag"><img src="img/ae-flag.png" alt=""></em>
                </div>
            </div>
            <a href="" class="cover hover"><img src="img/img023-2.png" alt=""><em class="ft-logo"><img src="img/f-logo.png" alt=""></em></a>
        </div>
        <div class="product pdc_scd">
            <div class="hdr">
                <h1 class="tit tc"><a href="">BABYBIO</a></h1>
                <div class="meta">
                    <div class="tc"><a href="">德国喜宝有机免敏胡萝卜泥</a></div>
                    <em class="flag"><img src="img/ae-flag.png" alt=""></em>
                </div>
            </div>
            <a href="" class="cover hover"><img src="img/img023.png" alt=""><em class="ft-logo"><img src="img/f-logo.png" alt=""></em></a>
        </div>
        <div class="product pdc_scd">
            <div class="hdr">
                <h1 class="tit tc"><a href="">BABYBIO</a></h1>
                <div class="meta">
                    <div class="tc"><a href="">德国喜宝有机免敏胡萝卜泥</a></div>
                    <em class="flag"><img src="img/ae-flag.png" alt=""></em>
                </div>
            </div>
            <a href="" class="cover hover"><img src="img/img023-2.png" alt=""><em class="ft-logo"><img src="img/f-logo.png" alt=""></em></a>
        </div>
    </div><!--floorThree-->
    <div class="floor floorFour inner">
        <div class="f-banner"><img src="img/ae-floor-four.png" alt=""><a class="hover f-banner-btn" href="">进入专场</a></div>
        <div class="product pdc_scd">
            <div class="hdr">
                <h1 class="tit tc"><a href="">BABYBIO</a></h1>
                <div class="meta">
                    <div class="tc"><a href="">德国喜宝有机免敏胡萝卜泥</a></div>
                    <em class="flag"><img src="img/ae-flag.png" alt=""></em>
                </div>
            </div>
            <a href="" class="cover hover"><img src="img/img024.png" alt=""></a>
        </div>
        <div class="product pdc_scd">
            <div class="hdr">
                <h1 class="tit tc"><a href="">BABYBIO</a></h1>
                <div class="meta">
                    <div class="tc"><a href="">德国喜宝有机免敏胡萝卜泥</a></div>
                    <em class="flag"><img src="img/ae-flag.png" alt=""></em>
                </div>
            </div>
            <a href="" class="cover hover"><img src="img/img024.png" alt=""></a>
        </div>
        <div class="product pdc_scd">
            <div class="hdr">
                <h1 class="tit tc"><a href="">BABYBIO</a></h1>
                <div class="meta">
                    <div class="tc"><a href="">德国喜宝有机免敏胡萝卜泥</a></div>
                    <em class="flag"><img src="img/ae-flag.png" alt=""></em>
                </div>
            </div>
            <a href="" class="cover hover"><img src="img/img024.png" alt=""></a>
        </div>
        <div class="product pdc_scd">
            <div class="hdr">
                <h1 class="tit tc"><a href="">BABYBIO</a></h1>
                <div class="meta">
                    <div class="tc"><a href="">德国喜宝有机免敏胡萝卜泥</a></div>
                    <em class="flag"><img src="img/ae-flag.png" alt=""></em>
                </div>
            </div>
            <a href="" class="cover hover"><img src="img/img024.png" alt=""></a>
        </div>
        <div class="product pdc_scd">
            <div class="hdr">
                <h1 class="tit tc"><a href="">BABYBIO</a></h1>
                <div class="meta">
                    <div class="tc"><a href="">德国喜宝有机免敏胡萝卜泥</a></div>
                    <em class="flag"><img src="img/ae-flag.png" alt=""></em>
                </div>
            </div>
            <a href="" class="cover hover"><img src="img/img024.png" alt=""></a>
        </div>
        <div class="product pdc_scd">
            <div class="hdr">
                <h1 class="tit tc"><a href="">BABYBIO</a></h1>
                <div class="meta">
                    <div class="tc"><a href="">德国喜宝有机免敏胡萝卜泥</a></div>
                    <em class="flag"><img src="img/ae-flag.png" alt=""></em>
                </div>
            </div>
            <a href="" class="cover hover"><img src="img/img024.png" alt=""></a>
        </div>
        
    </div><!--floorFour-->
    <div class="floor floorFive inner">
        <div class="f-banner"><img src="img/ae-floor-five.png" alt=""><a class="hover f-banner-btn" href="">进入专场</a></div>
        <div class="product pdc_scd">
            <div class="hdr">
                <h1 class="tit tc"><a href="">BABYBIO</a></h1>
                <div class="meta">
                    <div class="tc"><a href="">123粉丝</a></div>
                    <em class="flag"><img src="img/ae-flag.png" alt=""></em>
                </div>
            </div>
            <a href="" class="cover hover"><img src="img/img025.png" alt=""><em class="ff-avatar"><img src="img/ff-avatar.png" alt=""></em></a>
        </div>
        <div class="product pdc_scd">
            <div class="hdr">
                <h1 class="tit tc"><a href="">BABYBIO</a></h1>
                <div class="meta">
                    <div class="tc"><a href="">123粉丝</a></div>
                    <em class="flag"><img src="img/ae-flag.png" alt=""></em>
                </div>
            </div>
            <a href="" class="cover hover"><img src="img/img025.png" alt=""><em class="ff-avatar"><img src="img/ff-avatar.png" alt=""></em></a>
        </div>
        <div class="product pdc_scd">
            <div class="hdr">
                <h1 class="tit tc"><a href="">BABYBIO</a></h1>
                <div class="meta">
                    <div class="tc"><a href="">123粉丝</a></div>
                    <em class="flag"><img src="img/ae-flag.png" alt=""></em>
                </div>
            </div>
            <a href="" class="cover hover"><img src="img/img025.png" alt=""><em class="ff-avatar"><img src="img/ff-avatar.png" alt=""></em></a>
        </div>
        <div class="product pdc_scd">
            <div class="hdr">
                <h1 class="tit tc"><a href="">BABYBIO</a></h1>
                <div class="meta">
                    <div class="tc"><a href="">123粉丝</a></div>
                    <em class="flag"><img src="img/ae-flag.png" alt=""></em>
                </div>
            </div>
            <a href="" class="cover hover"><img src="img/img025.png" alt=""><em class="ff-avatar"><img src="img/ff-avatar.png" alt=""></em></a>
        </div>
        <div class="product pdc_scd">
            <div class="hdr">
                <h1 class="tit tc"><a href="">BABYBIO</a></h1>
                <div class="meta">
                    <div class="tc"><a href="">123粉丝</a></div>
                    <em class="flag"><img src="img/ae-flag.png" alt=""></em>
                </div>
            </div>
            <a href="" class="cover hover"><img src="img/img025.png" alt=""><em class="ff-avatar"><img src="img/ff-avatar.png" alt=""></em></a>
        </div>
        <div class="product pdc_scd">
            <div class="hdr">
                <h1 class="tit tc"><a href="">BABYBIO</a></h1>
                <div class="meta">
                    <div class="tc"><a href="">123粉丝</a></div>
                    <em class="flag"><img src="img/ae-flag.png" alt=""></em>
                </div>
            </div>
            <a href="" class="cover hover"><img src="img/img025.png" alt=""><em class="ff-avatar"><img src="img/ff-avatar.png" alt=""></em></a>
        </div>
        
    </div><!--floorFive-->
    <div class="link inner wedget">
        <h3 class="title">友情链接</h3>
        <div class="links">
            <a href=""><img src="img/ae-frendship.png" alt=""></a>
        </div>
    </div><!--link-->
    <div class="hotbrand inner wedget">
        <h3 class="title">热门品牌</h3>
        <ul class="hotbrands">
            <li><a href=""><img src="img/ae-logo-abiessence.png" alt=""></a></li>
            <li><a href=""><img src="img/ae-logo-naty.png" alt=""></a></li>
            <li><a href=""><img src="img/ae-logo-babybio.png" alt=""></a></li>
            <li><a href=""><img src="img/ae-logo-frugc.png" alt=""></a></li>
            <li><a href=""><img src="img/ae-logo-cowecate.png" alt=""></a></li>
            <li><a href=""><img src="img/ae-logo-holle.png" alt=""></a></li>
            <li><a href=""><img src="img/ae-logo-moltex.png" alt=""></a></li>
            <li><a href=""><img src="img/ae-logo-grillondor.png" alt=""></a></li>
            <li><a href=""><img src="img/ae-logo-nutrilon.png" alt=""></a></li>
            <li><a href=""><img src="img/ae-logo-hipp.png" alt=""></a></li>
            <li><a href=""><img src="img/ae-logo-bambix.png" alt=""></a></li>
            <li><a href=""><img src="img/ae-logo-kalibio.png" alt=""></a></li>
        </ul>
    </div><!--hotbrand-->
    
</div>
<div class="footer">
    <div class="footer-info inner">
        <div class="bluetxt inner"><span>We certified all products are exclusively imported from Europe  </span><span>我们确保所有的产品均源自欧洲</span></div>
        <img class="img" src="img/ae-footer-info.png" alt="">
    </div>
    <div class="footer-con inner">
        <dl>
            <dt>购物指南</dt>
            <dd><a href="">购物流程</a></dd>
            <dd><a href="">免费注册</a></dd>
            <dd><a href="">常见问题</a></dd>
            <dd><a href="">联系客服</a></dd>
        </dl>
        <dl>
            <dt>配送方式</dt>
            <dd><a href="">关于物流</a></dd>
            <dd><a href="">欧橡保证</a></dd>
        </dl>
        <dl>
            <dt>支付方式</dt>
            <dd><a href="">在线支付</a></dd>
            <dd><a href="">货到付款</a></dd>
            <dd><a href="">邮局汇款</a></dd>
            <dd><a href="">支付宝付款</a></dd>
        </dl>
        <dl>
            <dt>售后服务</dt>
            <dd><a href="">退换货物</a></dd>
            <dd><a href="">物流信息</a></dd>
            <dd><a href="">售后政策</a></dd>
            <dd><a href="">取消订单</a></dd>
        </dl>
        <dl>
            <dt>VENDORS</dt>
            <dd><a href="">About us</a></dd>
            <dd><a href="">Guide book</a></dd>
            <dd><a href="">News</a></dd>
        </dl>
        <dl>
            <img class="ae-qrcode" src="img/ae-qcode.png" alt="">
        </dl>
        <dl class="callus">
            <dt>联系我们</dt>
            <dd>地址：上海市静安区江宁77号7楼</dd>
            <dd>电话： 021－7878788</dd>
            <dd>微信号： oak&knight</dd>
        </dl>
    </div>
</div>
















<!--仿select选择效果-->
<!--
<div class="chosen zc">
    <a class="chosenSingle"><span class="chosenSinglei">房产频道</span><i class="ae ae-jiantouxia"></i></a>
    <ul class="chosenDrop">
        <li data="房产频道2">房产频道2</li>
        <li data="房产频道3">房产频道3</li>
    </ul>
</div>
-->
<!--返回顶部-->
<a href="javascript:;" id="J-gotop"></a>

<!--[if IE 6]>
<script src="js/base/DD_belatedPNG_0.0.8a-min.js"></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
</body>
</html>
