<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" /> <!--禁止转码 -->
<title>首页</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" href="css/JaneCC.css">
<link rel="stylesheet" href="">
<script src="js/jquery/jquery-1.11.2.min.js"></script>
<script src="js/base/SuperSlide.2.1.1.min.js"></script>
<script src="js/icheck.min.js"></script>
<script src="js/JaneCC.js"></script>
<!--[if lt IE 9]>
<script src="js/base/html5shiv.min.js"></script>
<script src="js/base/respond.min.js"></script>
<script src="js/base/ie8warning.js"></script>
<![endif]-->
</head>
<body class="indexbg">
<div class="header">
<!--
    <div class="headerBar" >
        <div class="inner">
            <a href="" class="orangetxt">Welcome Yingying!</a><span class="bluetxt"> | </span>
            <a href="" class="bluetxt">Merchants info</a>
        </div>
      
    </div> --> 
    <div class="headerBar">
        <!--中文版顶部-->
        <div class="inner1024">
            <span class="orangetxt">欢迎来到欧橡</span>
            <a href="" class="login orangetxt">请登录</a>
            <a href="" class="login orangetxt">免费注册 !</a>
            <span class="bluetxt"> | </span>
            <a href="" class="bluetxt merchants">merchants info</a>
        </div>
        <!---->
    </div>
    <div class="headerCon inner1024 clearfix">
        <a href="" class="logo"><img src="img/ae-logo.png" alt=""></a>
        <div class="headerSearch">
            <form action="">
                <input type="text" class="ipt">
                <input type="button" class="btn">
            </form>
        </div>
        <div class="headerIcon">
            <ul class="clearfix">
                <li><a href=""><img src="img/ae-cart.png" alt=""><span>购物车</span></a></li><!--登陆后改变img地址ae-cart-login-->
                <li><a href=""><img src="img/ae-wish.png" alt=""><span>愿望单</span></a></li>
                <li><a href=""><img src="img/ae-babyshow.png" alt=""><span>宝宝秀</span></a></li><!--登陆后改变img地址ae-babyshow-login-->
                <li><a class="qcode" href=""><img src="img/ae-weixin.png" alt=""><span>联系欧橡</span><div class="qcode-oux"><img src="img/ae-qcode.png" alt=""></div></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="nav">
    <ul class="inner clearfix">
        <li class=""><a href="">产品目录</a></li>
        <li><a href="">欧洲商店</a></li>
        <li><a href="">欧洲潮流</a></li>
        <li><a href="">个人代购</a></li>
        <li class="nobd"><a href="">关于欧橡</a></li>
    </ul>
</div>
	
<div class="content order-content">
    <div class="order-menu">
        <div class="inner1024 clearfix">
            <i class="ae-bitch"></i>
            <ul>
                <li class="fz18"><a href="">我的订单</a></li>
                <li class="on"><a href="">我的购物车</a></li>
                <li><a href="">等待收货</a></li>
                <li><a href="">已购产品</a></li>
                <li><a href="">浏览记录</a></li>
            </ul>
        </div>
    </div>
    <div class="order-notice inner1024">
        <span class="order-notice-content"><em class="bluetxt">消息：</em>您关注的Selena的小铺又有新的产品上架了....<em class="bluetxt">2 min ago</em></span>
        <img class="ae-order-notice has-notice" src="img/order/ae-order-notice.png" alt="">

        <a href="" class="goanyway"><img src="img/order/ae-order-go.png" alt="">主页</a>
    </div>
    <div class="order-main clearfix inner">
        <div class="order-sidebar clearfix">
            <div class="describe clearfix">
                <div class="avatar">
                    <img src="img/ff-avatar.png" alt="">
                    <a class="avatar-edit" href="javascript:;">编辑信息<i class="ae-order-edit"></i></a>
                </div>
                <div class="name">王鹏翔<i>/</i><span>6个月</span></div>
                <div class="trust-logo"><b class="fz16">信任的牌子：</b><a href=""><img src="img/order/ae-logo-hipp.png" alt=""></a><a href=""><img src="img/order/ae-logo-hipp.png" alt=""></a><a href=""><img src="img/order/ae-logo-hipp.png" alt=""></a></div>
                <div class="best-experience"><b class="fz16">最棒的经验：</b>如何在两个月内训练宝宝的正常作息时间。</div>
                <div class="ok-order">成功交易<span>23</span>笔订单</div>
                <div class="all-order">历史总计<span>28</span>笔订单</div>
            </div>
            
            <div class="product">
                <div class="hdr">
                    <h1 class="tit"><a href="">德国喜宝有机免敏胡萝卜泥</a></h1>
                    <div class="meta">
                        <div><a href="">BABYBIO</a></div>
                        <em class="flag"><img src="img/ae-flag.png" alt=""></em>
                    </div>
                </div>
                <div class="price">
                    <div class="original">20.5 €</div>
                </div>
                <a href="" class="cover hover"><img src="img/img022.png" alt=""></a>
                <div class="ftr">
                    <p class="info">采用全天然有机的食品原料精心加工而成，清新无污染，健康有保证；...    </p>
                    <div class="meta">
                        <span class="like">288<i class="ae-like"></i></span> | 
                        <a class="listing" href=""><img src="img/ae-listing.png" alt=""></a>
                    </div>
                </div>
                <i class="ae ae-new"></i>
            </div>
            <div class="product">
                <div class="hdr">
                    <h1 class="tit"><a href="">德国喜宝有机免敏胡萝卜泥</a></h1>
                    <div class="meta">
                        <div><a href="">BABYBIO</a></div>
                        <em class="flag"><img src="img/ae-flag.png" alt=""></em>
                    </div>
                </div>
                <div class="price">
                    <div class="original">20.5 €</div>
                </div>
                <a href="" class="cover hover"><img src="img/img022.png" alt=""></a>
                <div class="ftr">
                    <p class="info">采用全天然有机的食品原料精心加工而成，清新无污染，健康有保证；...    </p>
                    <div class="meta">
                        <span class="like">288<i class="ae-like"></i></span> | 
                        <a class="listing" href=""><img src="img/ae-listing.png" alt=""></a>
                    </div>
                </div>
                <i class="ae ae-new"></i>
            </div>
        </div>
        <div class="order-cart order-contenti order-receipt">
            <h3 class="order-tit clearfix">
                <div class="order-tit-commodity">商品信息</div>
                <div class="order-tit-price"></div>
                <div class="order-tit-operation">物流信息</div>
            </h3>
            <div class="order-receipt-list">
                <div class="order-shop">
                    <div class="order-shop-tit clearfix">
                        <div class="order-shop-commodity fl">
                            <span class="shop-name mr25">店铺：<a href="">木果果的SHOPMALL</a></span><span class="order-time">日期：2015-05-15</span>
                        </div>
                        <div class="order-shop-operation fr">
                            <span class="mr15">订单编号：</span>1140205208
                        </div>
                    </div>
                    <ul class="order-shop-good-list clearfix">
                        <li class="order-shop-good clearfix">
                            <div class="osg-content bbline clearfix">
                                <div class="osg-tit"><a href="">Babybio法国婴幼儿有机奶粉，较大婴儿奶粉升级版 (第二段)新配方！</a></div>
                                <div class="osg-pic-price">
                                    <div class="osg-pic"><a href=""><img src="img/order/img-nfq.png" alt=""></a></div>
                                    <div class="osg-price">189 x 2</div>
                                </div>
                                <div class="osg-operation">
                                    <div><span class="mr10">物流方式：</span>国际直邮</div>
                                    <div><span class="mr10">最后一站：</span>中国香港九龙</div>
                                    <div class="osg-operation-btn">
                                        <a href="" class="btn-order btn-confirm-receipt mr10">确认收货</a>
                                        <a href="javascript:;" class="btn-order btn-view-details">查看详情<i class="ouu ouu-angle-right"></i></a>
                                    </div>
                                </div>
                            </div><!--osg-content-->
                            <div class="osg-plug osg-evaluation">
                                <form action="">
                                    <textarea name="" id="textarea" class="txtipt" cols="30" rows="3"></textarea>
                                    <div class="z clearfix">
                                        <div class="fl"><a class="emoji ouu ouu-emoji orangetxt" href="javascript:;"></a>|<a class="uploadimg ouu ouu-uploadimg" href="javascript:;"></a></div>
                                        <input type="submit" class="btn-order btn-confirm-receipt btn-evaluation-submit fr">
                                    </div>
                                </form>
                            </div>
                        </li><!--order-shop-good-->
                        <li class="order-shop-good clearfix">
                            <div class="osg-content bbline clearfix">
                                <div class="osg-tit"><a href="">Babybio法国婴幼儿有机奶粉，较大婴儿奶粉升级版 (第二段)新配方！</a></div>
                                <div class="osg-pic-price">
                                    <div class="osg-pic"><a href=""><img src="img/order/img-nfq.png" alt=""></a></div>
                                    <div class="osg-price">189 x 2</div>
                                </div>
                                <div class="osg-operation">
                                    <div><span class="mr10">物流方式：</span>国际直邮</div>
                                    <div><span class="mr10">最后一站：</span>中国香港九龙</div>
                                    <div class="osg-operation-btn">
                                        <a href="" class="btn-order btn-confirm-receipt mr10">确认收货</a>
                                        <a href="javascript:;" class="btn-order btn-view-details">查看详情<i class="ouu ouu-angle-right"></i></a>
                                    </div>
                                </div>
                            </div><!--osg-content-->
                            <div class="osg-plug osg-evaluation">
                                <form action="">
                                    <textarea name="" id="textarea" class="txtipt" cols="30" rows="3"></textarea>
                                    <div class="z clearfix">
                                        <div class="fl"><a class="emoji ouu ouu-emoji orangetxt" href="javascript:;"></a>|<a class="uploadimg ouu ouu-uploadimg" href="javascript:;"></a></div>
                                        <input type="submit" class="btn-order btn-confirm-receipt btn-evaluation-submit fr">
                                    </div>
                                </form>
                            </div>
                        </li><!--order-shop-good-->
                    </ul>
                </div><!--order-shop-->
                <div class="order-shop">
                    <div class="order-shop-tit clearfix">
                        <div class="order-shop-commodity fl">
                            <span class="shop-name mr25">店铺：<a href="">木果果的SHOPMALL</a></span><span class="order-time">日期：2015-05-15</span>
                        </div>
                        <div class="order-shop-operation fr">
                            <span class="mr15">订单编号：</span>1140205208
                        </div>
                    </div>
                    <ul class="order-shop-good-list clearfix">
                        <li class="order-shop-good clearfix">
                            <div class="osg-content  clearfix">
                                <div class="osg-tit"><a href="">Babybio法国婴幼儿有机奶粉，较大婴儿奶粉升级版 (第二段)新配方！</a></div>
                                <div class="osg-pic-price">
                                    <div class="osg-pic"><a href=""><img src="img/order/img-nfq.png" alt=""></a></div>
                                    <div class="osg-price">189 x 2</div>
                                </div>
                                <div class="osg-operation">
                                    <div><span class="mr10">物流方式：</span>国际直邮</div>
                                    <div><span class="mr10">最后一站：</span>中国香港九龙</div>
                                    <div class="osg-operation-btn">
                                        <a href="" class="btn-order btn-confirm-receipt mr10">确认收货</a>
                                        <a href="javascript:;" class="btn-order btn-view-details">查看详情<i class="ouu ouu-angle-right"></i></a>
                                    </div>
                                </div>
                            </div><!--osg-content-->
                            <div class="osg-plug osg-evaluation">
                                <form action="">
                                    <textarea name="" id="textarea" class="txtipt" cols="30" rows="3"></textarea>
                                    <div class="z clearfix">
                                        <div class="fl"><a class="emoji ouu ouu-emoji orangetxt" href="javascript:;"></a>|<a class="uploadimg ouu ouu-uploadimg" href="javascript:;"></a></div>
                                        <input type="submit" class="btn-order btn-confirm-receipt btn-evaluation-submit fr">
                                    </div>
                                </form>
                            </div>
                        </li><!--order-shop-good-->
                    </ul>
                </div><!--order-shop-->
                <div class="order-shop">
                    <div class="order-shop-tit clearfix">
                        <div class="order-shop-commodity fl">
                            <span class="shop-name mr25">店铺：<a href="">木果果的SHOPMALL</a></span><span class="order-time">日期：2015-05-15</span>
                        </div>
                        <div class="order-shop-operation fr">
                            <span class="mr15">订单编号：</span>1140205208
                        </div>
                    </div>
                    <ul class="order-shop-good-list clearfix">
                        <li class="order-shop-good clearfix">
                            <div class="osg-content  clearfix">
                                <div class="osg-tit"><a href="">Babybio法国婴幼儿有机奶粉，较大婴儿奶粉升级版 (第二段)新配方！</a></div>
                                <div class="osg-pic-price">
                                    <div class="osg-pic"><a href=""><img src="img/order/img-nfq.png" alt=""></a></div>
                                    <div class="osg-price">189 x 2</div>
                                </div>
                                <div class="osg-operation">
                                    <div><span class="mr10">物流方式：</span>国际直邮</div>
                                    <div><span class="mr10">最后一站：</span>中国香港九龙</div>
                                    <div class="osg-operation-btn">
                                        <a href="" class="btn-order btn-confirm-receipt mr10">确认收货</a>
                                        <a href="javascript:;" class="btn-order btn-view-details">查看详情<i class="ouu ouu-angle-right"></i></a>
                                    </div>
                                </div>
                            </div><!--osg-content-->
                            <div class="osg-plug osg-evaluation">
                                <form action="">
                                    <textarea name="" id="textarea" class="txtipt" cols="30" rows="3"></textarea>
                                    <div class="z clearfix">
                                        <div class="fl"><a class="emoji ouu ouu-emoji orangetxt" href="javascript:;"></a>|<a class="uploadimg ouu ouu-uploadimg" href="javascript:;"></a></div>
                                        <input type="submit" class="btn-order btn-confirm-receipt btn-evaluation-submit fr">
                                    </div>
                                </form>
                            </div>
                        </li><!--order-shop-good-->
                    </ul>
                </div><!--order-shop-->
                <div class="order-shop">
                    <div class="order-shop-tit clearfix">
                        <div class="order-shop-commodity fl">
                            <span class="shop-name mr25">店铺：<a href="">木果果的SHOPMALL</a></span><span class="order-time">日期：2015-05-15</span>
                        </div>
                        <div class="order-shop-operation fr">
                            <span class="mr15">订单编号：</span>1140205208
                        </div>
                    </div>
                    <ul class="order-shop-good-list clearfix">
                        <li class="order-shop-good clearfix">
                            <div class="osg-content  clearfix">
                                <div class="osg-tit"><a href="">Babybio法国婴幼儿有机奶粉，较大婴儿奶粉升级版 (第二段)新配方！</a></div>
                                <div class="osg-pic-price">
                                    <div class="osg-pic"><a href=""><img src="img/order/img-nfq.png" alt=""></a></div>
                                    <div class="osg-price">189 x 2</div>
                                </div>
                                <div class="osg-operation">
                                    <div><span class="mr10">物流方式：</span>国际直邮</div>
                                    <div><span class="mr10">最后一站：</span>中国香港九龙</div>
                                    <div class="osg-operation-btn">
                                        <a href="" class="btn-order btn-confirm-receipt mr10">确认收货</a>
                                        <a href="javascript:;" class="btn-order btn-view-details">查看详情<i class="ouu ouu-angle-right"></i></a>
                                    </div>
                                </div>
                            </div><!--osg-content-->
                            <div class="osg-plug osg-evaluation">
                                <form action="">
                                    <textarea name="" id="textarea" class="txtipt" cols="30" rows="3"></textarea>
                                    <div class="z clearfix">
                                        <div class="fl"><a class="emoji ouu ouu-emoji orangetxt" href="javascript:;"></a>|<a class="uploadimg ouu ouu-uploadimg" href="javascript:;"></a></div>
                                        <input type="submit" class="btn-order btn-confirm-receipt btn-evaluation-submit fr">
                                    </div>
                                </form>
                            </div>
                        </li><!--order-shop-good-->
                    </ul>
                </div><!--order-shop-->
                <div class="order-pagenavi">
                    <span>上一页</span>
                    <span class="all"><em class="orangetxt">1</em>/<em>5</em></span>
                    <a href="">下一页</a>
                </div>
            </div>
        </div>
    </div>
    
</div>

<div class="footer">
    <div class="footer-info inner">
        <div class="bluetxt inner"><span>We certified all products are exclusively imported from Europe  </span><span>我们确保所有的产品均源自欧洲</span></div>
        <img class="img" src="img/ae-footer-info.png" alt="">
    </div>
    <div class="footer-con inner">
        <dl>
            <dt>购物指南</dt>
            <dd><a href="">购物流程</a></dd>
            <dd><a href="">免费注册</a></dd>
            <dd><a href="">常见问题</a></dd>
            <dd><a href="">联系客服</a></dd>
        </dl>
        <dl>
            <dt>配送方式</dt>
            <dd><a href="">关于物流</a></dd>
            <dd><a href="">欧橡保证</a></dd>
        </dl>
        <dl>
            <dt>支付方式</dt>
            <dd><a href="">在线支付</a></dd>
            <dd><a href="">货到付款</a></dd>
            <dd><a href="">邮局汇款</a></dd>
            <dd><a href="">支付宝付款</a></dd>
        </dl>
        <dl>
            <dt>售后服务</dt>
            <dd><a href="">退换货物</a></dd>
            <dd><a href="">物流信息</a></dd>
            <dd><a href="">售后政策</a></dd>
            <dd><a href="">取消订单</a></dd>
        </dl>
        <dl>
            <dt>VENDORS</dt>
            <dd><a href="">About us</a></dd>
            <dd><a href="">Guide book</a></dd>
            <dd><a href="">News</a></dd>
        </dl>
        <dl>
            <img class="ae-qrcode" src="img/ae-qcode.png" alt="">
        </dl>
        <dl class="callus">
            <dt>联系我们</dt>
            <dd>地址：上海市静安区江宁77号7楼</dd>
            <dd>电话： 021－7878788</dd>
            <dd>微信号： oak&knight</dd>
        </dl>
    </div>
</div>

<!--返回顶部-->
<a href="javascript:;" id="J-gotop"></a>

<!--[if IE 6]>
<script src="js/base/DD_belatedPNG_0.0.8a-min.js"></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
</body>
</html>
