.baby-menu{}
.baby-menu li.on a{background: #aaddf4;}

.baby-notice{height: 56px;position: relative;}
.baby-info{width: 234px;height: 56px;background: #cad545;float: left;border-radius: 4px;text-align: left;}
.baby-info .avatar{display: block;margin: 3px 26px;border: 2px #fff solid;border-radius: 50%;width: 46px;overflow: hidden;float: left;}
.baby-info .name{font-weight: 700;color: #fff;font-size: 18px;padding-left: 106px;}
.baby-info .baby-name{font-size: 14px;color: #fff;padding-left: 106px;}
.baby-info .baby-year{padding-left: 14px;}

.baby-notice-nav{float: left;height: 14px;margin-top: 42px;line-height: 14px;margin-left: 28px;}
.baby-notice-nav li{float: left;width: 136px;text-align: left;}
.baby-notice-nav li.on a{color: #cad545;}
.order-notice .goanyway-blue{background: #6fc5d3;}


.order-notice-i{display:block;width: 600px;height: 28px;position: absolute;right: 0;top: -6px;}
.order-notice-i .notice-sub{right: 82px;}
.baby-notice-search{float: right;margin-left: 0;width: 335px;margin-top: 28px;}
.baby-notice-search .ipt{width: 325px;}
.baby-notice-box{height: 28px;}
.baby-notice-box .baby-notice-search{margin-top: 0;}



.dpc_like{position: absolute;right:14px;bottom: 0;color: #fff;}
.product:hover{border-color: #cad545;}
.product:hover .hdr{background: #cad545;}

.mt10{margin-top: 10px;}

.recommend {position: relative;overflow: hidden;}
.recommend .pageBtn{width: 92px;height: 42px;position: absolute;right: 0;top: 0;}
.recommend .pageBtn a{display: block;width: 42px;height: 42px;text-align: center;line-height: 42px;background:#ddd url(../img/pageBtn.png) 0 0;border-radius: 2px;text-indent: 999px;}
.recommend .pageBtn a:hover{background-color: rgba(111,197,212,0.5)}
.recommend .pageBtn .prev{float: left;}
.recommend .pageBtn .next{float: right;background-position: 0 -42px}

.f-baby-banner{border:3px #ee802e solid;  width: 492px;height: 246px;float: left;margin: 14px;position: relative;overflow: hidden;}
.f-baby-banner:hover .f-info{display: block;}
.f-baby-banner .f-info{display: none;background: #f9ba33;padding: 28px;height: 190px;color: #fff;position: absolute;top: 0;left: 0;}
.f-baby-banner h3{font-size: 24px;font-weight: 700;}
.f-baby-banner p{font-size: 16px;line-height: 28px;}

.f-baby-banner-2{border-color: #cad545;}
.f-baby-banner-2 .f-info{background: #cad545;}

.f-baby-banner-3{border-color: #cad545;}
.f-baby-banner-3 .f-info{background: #cad545;}

.f-baby-banner-4{border-color: #f9ba33;}
.f-baby-banner-4 .f-info{background: #f9ba33;}

.f-baby-banner-5{border-color: #6fc5d3;}
.f-baby-banner-5 .f-info{background: #6fc5d3;}

.f-baby-banner-6{border-color: #a1d1e7;}
.f-baby-banner-6 .f-info{background: #a1d1e7;}

/*背景白色透明*/
.bgop{}
.bgop .f-info{background: url(../img/opacity/white@80.png);color: #68696b;}

.baby-ee802e{}
.baby-ee802e .product:hover{border-color: #ee802e;}
.baby-ee802e .product:hover .hdr{background: #ee802e;}{}




/*banner-chanllege*/
.banner-chanllege{margin-top: 0;height: 504px;margin-bottom: 14px;}
.banner-chanllege .bd li{height: 504px;}
.banner .prev,.banner .next{position: absolute;left: 50%;top: 50%;margin-top: -60px;width: 90px;height: 120px;}
.banner .prev{background: url(../img/banner-chanllege-prev.png) center center no-repeat;margin-left: -602px;}
.banner .next{background: url(../img/banner-chanllege-next.png) center center no-repeat;margin-left: 512px;}



.f-banner{width: 498px;height: 252px;float: left;margin: 14px;position: relative;}
.f-banner-btn{width: 108px;height: 26px;position: absolute;right: 12px;bottom: 12px;z-index: 9;color: #fff;font-size: 16px;font-weight: 600;text-align: center;line-height: 26px;border: 1px #8ba6b4 solid;background: #a1d1e7;background:-webkit-gradient(linear, 0 0, 0 bottom, from(#95c2d6), to(#aaddf4));background:-o-linear-gradient(top, #95c2d6, #aaddf4); }
.f-banner-btn:hover{opacity: 0.8;border-color:#FFF!important;}

.f-banner-btn-2{border-color: #9ca257;background: #d1d588;background:-webkit-gradient(linear, 0 0, 0 bottom, from(#d1d588), to(#b8bc80));background:-o-linear-gradient(top, #d1d588, #b8bc80);}

.f-banner-btn-3{border-color: #f7dfc2;background: #a1d1e7;background:-webkit-gradient(linear, 0 0, 0 bottom, from(#ee802e), to(#d17028));background:-o-linear-gradient(top, #ee802e, #d17028);}

.f-banner-btn-4{border-color: #ccc;background: #f9ba33;background:-webkit-gradient(linear, 0 0, 0 bottom, from(#f9ba33), to(#dca42d));background:-o-linear-gradient(top, #f9ba33, #dca42d);}

.f-banner-btn-5{border-color: #f7debe;background: #6fc5d3;background:-webkit-gradient(linear, 0 0, 0 bottom, from(#6fc5d3), to(#62adb9));background:-o-linear-gradient(top, #6fc5d3, #62adb9);}



/*avatarbox*/
.avatarbox{width: 235px;height: 252px;border-radius:2px;float:left; margin: 14px;position: relative;z-index: 9;transition:all .28s ease; -webkit-transition:all .28s ease;-moz-transition:all .28s ease;-o-transition:all .28s ease}
.avatarlist{width: 100%;height: 100%;overflow: hidden;}
.avatarlist li{width: 33%;height: 84px;float: left;}
.avatarlist li img{width: 100%;height: 84px;}
.avatarbox .a-info{display: none;position: absolute;left: 0;top: 0;background: rgba(111,192,211,0.88);padding: 14px;color: #fff;height: 226px;}
.avatarbox h3{font-size: 18px;}
.avatarbox h4{font-size: 18px;margin-bottom: 14px;}
.avatarbox p span{font-size: 16px}
.avatarbox p {font-size: 14px}
.avatarbox:hover .a-info{display: block;}



/*popup*/
.popup-winners .popup-content,.popup-openingcha .popup-content{padding: 14px;width: 750px;height: auto;margin-left: -375px;margin-top: -375px;text-align: left;}

.banner-winners{width: 595px;height:415px;min-width: 595px;margin: 0 auto;margin-bottom:14px;}
.banner-winners .bd li{height: 415px;}
.banner-winners .bd li a{height: 415px;}
.banner-winners .prev{width: 82px;height: 82px;margin-left: 0;padding-top: 0;left: 0;background: url(../img/banner-winners-prev.png) center center no-repeat;}
.banner-winners .next{width: 82px;height: 82px;left: auto;right: 0;padding-top: 0;background: url(../img/banner-winners-next.png) center center no-repeat;}
.popup-s-title{}
.popup-s-title .avatar{display: block;border: 4px #6fc5d3 solid;border-radius: 50%;width: 112px;height: 112px;overflow: hidden;float: left;padding: 0;}
.popup-s-title .avatar-winners{margin-left: 20px;}


.name{font-size: 24px;font-weight: 700;}
.k-meta-winners{font-size: 18px;line-height: 32px;width: 575px;float: right;padding-top: 13px;}
.k-name-winners{font-size: 24px;font-weight: 700;text-align: left;}

hr.k-line{padding-top: 14px;border: none;border-bottom: 1px #68696b solid;}

.metas-winners{line-height: 42px;font-size: 18px;font-weight: 700;height: 28px;}
.metas-winners span{display: block;float: left;width: 50%;height: 28px;}

.popup-winners .avatarlist{padding-bottom: 14px;}
.popup-winners .avatarlist li{width: 149px;height: 160px;}
.popup-winners .avatarlist li img{width: 149px;height: 160px;}


.popup-openingcha .popup-s-title{}
.popup-openingcha .avatar{width: 82px;height: 82px;margin: 10px 20px 10px 10px;}
.popup-openingcha .k-meta-openingcha{font-size: 18px;line-height: 32px;width: 630px;float: right;}
.popup-openingcha .imgwrap{margin-top:18px;width: 498px;height: ;padding: 14px;border: 1px #d6d2d1 solid;position: relative;margin: 0 auto;}
.popup-openingcha .imgwrap .imgz{position: absolute;left: 0;top: 0;width: 100%;height: 294px;z-index: 9;background:url(../img/ae-shapexy.png) center center no-repeat}
.popup-openingcha .imgwrap .imgcon{width: 398px;height: 278px;padding: 8px;position: relative;float: left;}
.popup-openingcha .imgwrap .imgcon img{width: 398px;height: 278px;margin: 0 auto;display: block;}
.popup-openingcha .imgwrap .btncon{width: 69px;float: left;height: auto;}
.popup-openingcha .imgwrap .ae-refrash{display: block;width: 69 ;height: 69px;background: url(../img/ae-refrash.png) center center no-repeat;margin-bottom: 7px;}
.popup-openingcha .imgwrap .ae-delete{display: block;width: 69 ;height: 69px;background: url(../img/ae-delete.png) center center no-repeat;}

.shareformwrap{position: relative;margin: 18px auto 0;width: 655px;}
.shareformwrap label{text-indent: 14px;height: 26px;background: #d9dadb;font-size: 18px;display: block;line-height: 26px;}
.shareformwrap textarea{text-indent: 9px;width: 645px;border: none;height: 60px;color: #68696b;font-size: 16px;}
.shareformwrap .bd2px{width: 655px;height:96px; border: 2px #ee802e solid;margin:0 auto 14px;}
.shareformwrap .btn-quxiao,.shareformwrap .btn-upfiles{width: 56px;height: 28px;border: none;}
.shareformwrap .btn-quxiao{box-shadow:0 0 2px 3px #ddd;background: #fff;float: left;}
.shareformwrap .btn-upfiles{background: #ee802e;color: #fff;float: right;}

/*disciussion*/
.mr28{margin-right: 28px;}
.mb28{margin-bottom: 28px; margin-top: 20px;}
.disciussion{width: 1024px;padding: 14px;}
.disciussion>.fl{ width:498px; height:252px;margin-bottom: 14px; }
.disciussion>.disciussion-info2{ width:526px; }
.disciussion .ds-banner{ width:498px; height:252px;margin-bottom: 14px; }
.disciussion .ds-banner .bd img{width:498px; height:252px;}
.disciussion-ins{padding-right: 28px;}
.dcsii span{display: inline-block;width: 30%;line-height: 28px;font-size: 16px;}
h3.bbp{font-size: 18px;line-height: 30px;color: #6fc5d3;font-weight: 700;}
.dcsiilist{width: 100%;}
.dcsiilist li{width: 235px;padding-right: 28px;float: left;line-height: 28px;font-size: 14px;}
.disciussion .disciussion-info5{width: 1052px;margin-left: -14px;height: 280px;}
.disciussion-info5 .bbp{text-indent: 14px;}
.disciussion-info5 .recommend{width: 1052px;}
.disciussion-info5 .pageBtn{z-index: 99;top: 130px;}

/*dil*/
h3.tts{font-weight: 700;line-height: 32px;width: 140px;height: 32px;text-align: center;font-size: 18px;color: #fff;background: #6fc5d3;margin-bottom: 7px;}
.dil{width: 748px;padding: 0px 14px;float: left;padding-bottom: 28px;}
.dil .commetlist{width: 735px;padding-top: 14px; min-height: 400px;}
.dil .commetlist li{border-bottom: 1px #a79f9d solid;padding: 14px 0 7px 50px;height: 154px;}
.dil .cover{width: 135px;height: 140px;border: 1px #edeeee solid;display: block;margin-right: 15px;float: left;}
.dil .cover img{width: 135px;height: 140px;}
.dil .avatar {width: 56px;margin-right: 14px;overflow: hidden;height: 85px;float: left;text-align: center;}
.dil .avatar img{width:47px;height: 47px;border-radius: 50%;border: 2px #6fc5d3 solid;}
.dil .avatar div{font-size: 14px;font-weight: 700;color: #6fc5d3;}
.dil .commetcos{width: 330px;padding-left: 340px;  line-height: 30px;}
.dil .order-pagenavi{float: none;}
.dil .order-pagenavi a{color: #6fc5d3;margin: 0 5px;}
.commetform{padding-left: 82px;position: relative;}
.commetform .avatar {width: 42px;overflow: hidden;height: 42px;float: left;text-align: center;margin-left: -71px;}
.commetform .avatar img{width:38px;height: 38px;border-radius: 50%;border: 2px #6fc5d3 solid;}
.commetform .txtipt {border-radius: 2px;border:1px #6fc5d3 solid;width: 640px;text-indent: 70px; padding: 5px;}
.commetform .altname {position: absolute;top: 0;left: 90px;color: #d9dadb;}
.commetform .altname span{color: #68696b;}

.imgupfilebox{width: 352px;padding: 0px 5px;height: 181px;background: #fff;position: absolute;left: 0;top: 30px;z-index: 999;border-radius: 3px;}
.imgfilebox{color: #a79f9d;padding-top: 10px;padding-bottom: 8px;padding-left: 14px;}
.imgfilebox span{padding-left: 31px;}
.imgfilebtn{width: 90px;height: 26px;background: #fff;box-shadow: 0 0 3px 3px #eee;border: none;text-align: center;line-height: 26px;}
.btn-commet{width: 70px;height: 28px;background: #6fc5d3;color: #fff;text-align: center;line-height: 28px;border: none;border-radius: 2px;margin-right: 14px;}
.btn-ok{float: left;margin: 14px;background: #fff;border: none;}
.imgfilelist{display: inline-block;float: left;}
.imgfilelist li{width: 110px;height: 110px;border: 1px #68696b solid ;margin: 14px;float: left;}

/*dil*/
.dir{width: 242px;border: 3px solid #6fc5d3;float: right;}
.dir .cover{width: 122px;height: 118px;border: 1px #edeeee solid;margin: 0 auto 14px;display: block;}
.dir .cover img{width: 122px;height: 118px;}
.dir .avatar {width: 56px;float: left;}
.dir .avatar img{width:46px;height: 46px;}
.dir .avatar div{font-size: 12px;}
.dir .commetcon {padding-left: 70px;font-size: 14px;width: 120px;line-height: 28px;}
.dir .commetlist{padding-top: 14px;}
.dir .commetlist li{padding: 48px 21px 22.8px 21px;float: left;}

/*rules*/
.rules {width: 1024px;padding: 14px;padding-bottom: 56px;}
.rules h3{font-size: 18px;color: #60c2d3;line-height: 1.9;}
.rules p{font-size: 16px;line-height: 30px;padding-left: 24px;padding-right: 14px;}
.rules img{margin-left: 24px;margin-right: 14px;}


/*personal*/
.personal-menu{}
.personal-menu li{width: 25%;}
.personal-menu li.on a{background: #cad545;}
.ae-personal{width: 28px;height: 28px;background: url(../img/psn/ae-personal.png) no-repeat top center;display: block;float: left;}
/*私信*/
.sxform{width: 194px;height: 98px;margin: 0 auto;}
.sxform .txtipt{width: 162px;padding: 0 14px;line-height:21px;border: 2px #ee802e solid;background: #fff;color: #68696b;font-size: 12px;height: 67px;}
.sxform .btn-sx{width: 44px;height: 22px;margin-top: 5px;border: none;background: #f7c39d;color: #fff;text-align: center;line-height: 22px;float: right;}

.personal-sidebar{}
.personal-sidebar .product .tit{font-weight: 700;}
.personal-sidebar .product .meta{font-weight: 500;}

/*收藏的商店*/
.clstore{}
.clstore li{float: left;width: 50%;height: 64px;text-align: center;line-height: 64px;}
.clstore li a{display: block;line-height: 64px;}
.clstore li img{max-width: 80%;max-height: 52px;vertical-align: middle;}

/**/
.no-num-list{padding: 10px;}
.no-num-list li{width: 100%;height: 61px;}
.no-num-list p{width:130px;height: 61px;margin-left: 82px;font-size: 12px;}
.no-num-list b{font-weight: 500;}
.no-num-list i{width: 56px;height: 61px;display: block;color: #f9ba33;font-family: "Open Sans";font-weight: 700;text-align: center;float: left;}
.ae-no1{background: url(../img/psn/ae-no.1.png) no-repeat center top}
.ae-no2{background: url(../img/psn/ae-no.2.png) no-repeat center top}


.personal-contenti{width: 760px;float: right;margin: 0px 14px;}
/*todaysay*/
.todaysay{padding: 28px;}
.todaysay .date{float: left;flow-from: "Open Sans";font-size: 36px;width: 82px;text-align: center;    }
.todaysay .time{font-size: 12px;}
.sayform{width: 592px;height: 76px;margin-left: 112px;}
.sayform .txtipt{border: 2px #f9ba33 solid;height: 28px;width: 578px;line-height: 28px;color: #68696b;}
.btn-todaysay{background: #f9ba33;}



/**/
.saylist ul{width: 100%;}
.saylist ul>li{width: 732px;padding:0 14px;float: left;margin-top: 14px;box-shadow: 0 0 5px 5px #f0f0f0;display: block;}
.saylist-date{font-size: 18px;line-height: 28px;width: 82px;float: left;text-align: center;padding-top: 14px;}
.saylist-date .month{}
.saylist-date .day{font-size: 30px;line-height: 32px;}

.saylist-info{border-left: 1px #d9dadb solid;position: relative;color: #68696b;margin-left: 86px;margin-top: 14px;}
.saylist-info:before{display: block;width: 8px;height: 8px;content: url(../img/psn/ae-circle.png);position: absolute;  top: -14px;left: -4px;color: #68696b;}
.saylist-info .coverbox{margin-left: 36px;float: left;width: 98px;}
.saylist-info .cover{margin-top: 5px;margin-bottom: 23px;display: block;}
.saylist-info .cover img{border: 2px #d9dadb solid;width: 94px;height: 94px;border-radius: 3px;}
.saylist-info .saycont{margin-left: 160px;}
.saylist-info .sayins{position: relative;}
.saylist-info .sayins .ouu{font-size: 14px;}
.saylist-info .closep,.saylist-info openp{position: absolute;right: 0;bottom: 0;}
.saylist-info h4{font-weight: 700;font-size: 18px;}
.saylist-info p{line-height: 28px;font-size: 12px;}

.saycommetform{margin-left: 160px;}
.saycommetform .tits{font-size: 14px;width: auto;height: 21px;line-height: 21px;background: #fff;box-shadow: 0 0 5px 5px #f0f0f0;display: inline-block;padding: 0 12px;}

.saycommetformcont{}
.saycommetformcont{position: relative;border-top: 1px solid #d9dadb;padding: 13px 0 14px 50px;  margin-top: 14px;}
.saycommetformcont .avatar {width: 42px;overflow: hidden;height: 42px;float: left;text-align: center;margin-left: -45px;}
.saycommetformcont .avatar img{width:25px;height: 25px;border-radius: 50%;border: 1px #6fc5d3 solid;}
.saycommetformcont .txtipt {border-radius: 2px;border:1px #ee802e solid;width: 412px;text-indent: 92px;}
.saycommetformcont .altname {position: absolute;top:14px;left: 66px;color: #;background: #fff;height: 24px;}
.saycommetformcont .altname span{color: #68696b;}
.saycommetformcont .btn-commet{background: #f7c39d;margin-right: 11px;}

.saycommetlist{font-size: 12px;border-top: 1px solid #d9dadb;}
.saycommetlist li{position: relative;border-bottom: 1px solid #d9dadb;padding: 6px 0 7px 50px;}
.saycommetlist .avatar {width: 42px;overflow: hidden;height: 42px;float: left;text-align: center;margin-left: -45px;}
.saycommetlist .avatar img{width:34px;height: 34px;border-radius: 50%;border: 1px #6fc5d3 solid;}
.saycommetlist .sclinfo {width: 420px;}
.saycommetlist .name {color: #f9ba33;font-size: 12px;}
.saycommetlist .morelist {line-height: 28px;height: 35px;}



/*收到的私信*/
.sendsxday{padding: 28px 28px 14px;}
.sendsx{margin-left: 112px;width: 421px;padding-left: 123px;}
.sendsx .avatar {width: 61px;overflow: hidden;height: 61px;float: left;text-align: center;margin-left: -100px;}
.sendsx .avatar img{width:57px;height: 57px;border-radius: 50%;border: 2px #6fc5d3 solid;}
.sendsx .name{font-size: 18px;font-weight: 700;line-height: 26px;}
.sendsx .name .nameinfo{font-size: 12px;font-weight: 500;}
.sendsx .sendsxcon{background: #e6e7e8;border-radius:3px;padding: 12px;margin: 7px 0 14px;}
.sendsx .saycommetformcont{padding-left: 0;padding-bottom: 0;margin-top: 7px;}
.sendsx .saycommetformcont .altname{left: 14px;}
.sendsx .saycommetformcont .txtipt{width: 409px;}
.sendsx .saycommetformcont .btn-commet{margin-right: 0;}

a.btn-commet{display: inline-block;width: 70px;height: 28px;background: #ee802e;color: #fff;text-align: center;line-height: 28px;border: none;border-radius: 2px;margin-right: 0;}
a.btn-commet.on{background: #f7c39d;}
a.btn-send-commet{color: #ee802e;font-size: 14px;width: 70px;height: 26px;text-align: center;line-height: 26px;background: #fff;box-shadow: 0 0 5px 5px #f0f0f0;display: inline-block;}

.saylist .sendsx {}
.saylist .sendsx {padding-left: 50px;margin: 14px 0 14px 112px;;}
/*.saylist .btn-commet {margin-right: 0;}*/
/*.saylist .sendsx{border-left: 1px #d9dadb solid;position: relative;color: #68696b;margin-left: 86px;margin-top: 14px;}*/
/*.saylist .sendsx:before{display: block;width: 8px;height: 8px;content: url(../img/psn/ae-circle.png);position: absolute;  top: -14px;left: -4px;color: #68696b;}*/


.saylist-info .ae-share{background: url(../img/psn/ae-share.png);width: 78px;height: 26px;float: right;}
.saylist-info .sharebox{top: 26px;left: auto;margin-left: 0;right: 0;}
.saylist-info i.aen{width: 56px;height: 61px;display: block;color: #f9ba33;font-family: "Open Sans";font-weight: 700;text-align: center;float: left;margin-left: 6px;}

.saycon3{width: 512px;margin-left: 62px;}
.saycon3 .cover{float: left;margin-bottom: 14px;margin-top: 7px;}
.saycon3 .tit{margin-left: 126px;}
.saycon3 .saymeta{margin-left: 126px;height: 26px;}
.saycon3 .sayins{margin-left: 126px;}
.designtaik{background: #f9ba33;color: #fff;font-size: 14px;line-height: 28px;padding: 7px 14px ;width: 484px;border-radius: 3px;margin-bottom: 14px;}
.designtaik h5{color: #68696b;font-size: 16px;line-height: 36px;}
.designtaik .designtaikname{margin-bottom: 7px;}


















